<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigcard_0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{238,228}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{238,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bigcard_0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1},{160,226}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,5},{160,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bigcard_0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,162},{178,224}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,7},{178,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bigcard_0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,230},{190,222}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,13},{190,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigcard_0337_0343.png</string>
            <key>size</key>
            <string>{467,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77d925586a2971cdd156e295c16df1a7$</string>
            <key>textureFileName</key>
            <string>bigcard_0337_0343.png</string>
        </dict>
    </dict>
</plist>
