<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evolution_bbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,235},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>evolution_guang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>evolution_guang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1},{110,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>evolution_guang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>evolution_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,225},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>evolution_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,118},{106,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,128}}</string>
                <key>sourceSize</key>
                <string>{106,128}</string>
            </dict>
            <key>evolution_pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,235},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>evolution_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,290},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>evolution_shan.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,106},{106,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,128}}</string>
                <key>sourceSize</key>
                <string>{106,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>evolution.png</string>
            <key>size</key>
            <string>{241,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0a66c30d66750440404da5db49ed494$</string>
            <key>textureFileName</key>
            <string>evolution.png</string>
        </dict>
    </dict>
</plist>
