<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>heal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,256}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>heal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{229,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,237}}</string>
                <key>sourceSize</key>
                <string>{229,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heal.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7741c3c5cfbca750d1c3be1568c7317:bad05473848ee57a3079d59adab28bd4:7f068ac9dcacbcddd0bd94e50a9a2fb8$</string>
            <key>textureFileName</key>
            <string>heal.png</string>
        </dict>
    </dict>
</plist>
