<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play_01tu1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{508,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,512}}</string>
                <key>sourceSize</key>
                <string>{508,512}</string>
            </dict>
            <key>play_02tu2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{510,365},{363,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,512}}</string>
                <key>sourceSize</key>
                <string>{363,512}</string>
            </dict>
            <key>play_03tu1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{510,1},{363,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,512}}</string>
                <key>sourceSize</key>
                <string>{363,512}</string>
            </dict>
            <key>play_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,771},{86,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,79}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>play_bao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,729},{255,254}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{255,254}}</string>
                <key>sourceSize</key>
                <string>{255,258}</string>
            </dict>
            <key>play_bao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,729},{258,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,211}}</string>
                <key>sourceSize</key>
                <string>{258,211}</string>
            </dict>
            <key>play_dede.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,803},{62,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,67}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>play_dekuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,729},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>play_guangxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,514},{199,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,256}}</string>
                <key>sourceSize</key>
                <string>{199,256}</string>
            </dict>
            <key>play_heibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,920},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>play_huodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,729},{174,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,256}}</string>
                <key>sourceSize</key>
                <string>{174,256}</string>
            </dict>
            <key>play_mtkuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,729},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>play_mtkuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,729},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>play_mtt.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,851},{68,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>play_shakuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,803},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>play_shakuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,884},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>play_shaman.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,803},{69,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>play_shiren.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,514},{128,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,104}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>play_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,619},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>play_yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,965},{56,51}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{56,51}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>play_zhangpenghuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,514},{118,256}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{118,256}}</string>
                <key>sourceSize</key>
                <string>{122,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>play_image.png</string>
            <key>size</key>
            <string>{1023,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5597a6677ec93f69bb99e302857e7e08$</string>
            <key>textureFileName</key>
            <string>play_image.png</string>
        </dict>
    </dict>
</plist>
