<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play_03zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,167},{488,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{488,64}}</string>
                <key>sourceSize</key>
                <string>{502,78}</string>
            </dict>
            <key>play_04zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,232},{488,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{488,63}}</string>
                <key>sourceSize</key>
                <string>{500,77}</string>
            </dict>
            <key>play_04zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,450},{368,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{368,27}}</string>
                <key>sourceSize</key>
                <string>{380,43}</string>
            </dict>
            <key>play_05zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,296},{447,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{447,27}}</string>
                <key>sourceSize</key>
                <string>{457,43}</string>
            </dict>
            <key>play_05zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,387},{436,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{436,62}}</string>
                <key>sourceSize</key>
                <string>{450,80}</string>
            </dict>
            <key>play_05zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,324},{438,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{438,62}}</string>
                <key>sourceSize</key>
                <string>{450,80}</string>
            </dict>
            <key>play_2zi4z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,102},{490,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{490,64}}</string>
                <key>sourceSize</key>
                <string>{504,80}</string>
            </dict>
            <key>play_2zi5z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{491,100}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{491,100}}</string>
                <key>sourceSize</key>
                <string>{501,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>play_script2.png</string>
            <key>size</key>
            <string>{493,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa1ad7fa8af23f9076a6e8d1b2551aea$</string>
            <key>textureFileName</key>
            <string>play_script2.png</string>
        </dict>
    </dict>
</plist>
