<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play_03zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,392},{240,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{240,27}}</string>
                <key>sourceSize</key>
                <string>{250,43}</string>
            </dict>
            <key>play_1tuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,328},{464,63}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{464,63}}</string>
                <key>sourceSize</key>
                <string>{478,79}</string>
            </dict>
            <key>play_1tuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,264},{484,63}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{484,63}}</string>
                <key>sourceSize</key>
                <string>{514,79}</string>
            </dict>
            <key>play_2zi1z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,101},{497,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{497,99}}</string>
                <key>sourceSize</key>
                <string>{509,115}</string>
            </dict>
            <key>play_2zi2z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{495,62}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{495,62}}</string>
                <key>sourceSize</key>
                <string>{509,80}</string>
            </dict>
            <key>play_2zi3z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{500,99}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{500,99}}</string>
                <key>sourceSize</key>
                <string>{512,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>play_script1.png</string>
            <key>size</key>
            <string>{502,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8a733f9c20cc0fb6f7cdaa1ab6498f2$</string>
            <key>textureFileName</key>
            <string>play_script1.png</string>
        </dict>
    </dict>
</plist>
