<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1},{54,64}}</string>
                <key>offset</key>
                <string>{26,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,136},{54,64}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,174},{156,172}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,28},{156,172}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,178}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{212,178}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1},{172,174}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{172,174}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{128,144}}</string>
                <key>offset</key>
                <string>{-44,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{128,144}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_customattack.png</string>
            <key>size</key>
            <string>{455,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7f1d25e087689b77a0406acee09a960$</string>
            <key>textureFileName</key>
            <string>skill_customattack.png</string>
        </dict>
    </dict>
</plist>
