<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tenarmy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,357},{94,55}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,59},{94,55}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>tenarmy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{53,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,128}}</string>
                <key>sourceSize</key>
                <string>{53,128}</string>
            </dict>
            <key>tenarmy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,99},{114,91}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{114,91}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>tenarmy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,103}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>tenarmy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,105},{128,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,99}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>tenarmy_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,205},{128,97}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{128,97}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>tenarmy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1},{124,97}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{124,97}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>tenarmy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,191},{106,103}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{106,103}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>tenarmy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,295},{102,85}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{102,85}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>tenarmy_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,413},{80,81}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{80,81}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_tenarmy.png</string>
            <key>size</key>
            <string>{255,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06fc2f6a384f23ae8d21bff31a8de3cc$</string>
            <key>textureFileName</key>
            <string>skill_tenarmy.png</string>
        </dict>
    </dict>
</plist>
