<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_b_button_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,288},{175,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,114}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>arena_b_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,173},{175,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,114}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>arena_b_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,50},{175,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,114}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>arena_b_text_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{510,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,48}}</string>
                <key>sourceSize</key>
                <string>{510,48}</string>
            </dict>
            <key>arena_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,205},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>arena_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,504},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>arena_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,120},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>button_arena_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,256},{205,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,122}}</string>
                <key>sourceSize</key>
                <string>{205,122}</string>
            </dict>
            <key>button_arena_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,50},{205,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,122}}</string>
                <key>sourceSize</key>
                <string>{205,122}</string>
            </dict>
            <key>button_arena_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,50},{205,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,122}}</string>
                <key>sourceSize</key>
                <string>{205,122}</string>
            </dict>
            <key>camera.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,462},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>compare_namebase.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,462},{188,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,40}}</string>
                <key>sourceSize</key>
                <string>{188,40}</string>
            </dict>
            <key>emblv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,290},{33,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>emblv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,255},{35,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>emblv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,264},{33,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>emblv_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,263},{35,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>emblv_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,238},{35,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>emblv_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,227},{35,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>emblv_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,219},{35,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>emblv_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,179},{37,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>emblv_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,153},{37,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>emblv_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,153},{65,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,21}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>icon_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,200},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>icon_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,173},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>text_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,50},{69,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,40}}</string>
                <key>sourceSize</key>
                <string>{69,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_arena.png</string>
            <key>size</key>
            <string>{512,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c91fa4fe4298b262cb0877b041fcfec$</string>
            <key>textureFileName</key>
            <string>ui_arena.png</string>
        </dict>
    </dict>
</plist>
