<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firend_curtain.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{480,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,76}}</string>
                <key>sourceSize</key>
                <string>{480,76}</string>
            </dict>
            <key>firend_curtain1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{510,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,108}}</string>
                <key>sourceSize</key>
                <string>{510,108}</string>
            </dict>
            <key>firend_curtain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,110},{480,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,116}}</string>
                <key>sourceSize</key>
                <string>{480,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_friend.png</string>
            <key>size</key>
            <string>{512,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8f2f76b0b9e1cb688e966ea24effa80$</string>
            <key>textureFileName</key>
            <string>ui_friend.png</string>
        </dict>
    </dict>
</plist>
