<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angelsister.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,212},{179,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,200}}</string>
                <key>sourceSize</key>
                <string>{179,200}</string>
            </dict>
            <key>auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,269},{100,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bigcard_fightbase.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1},{210,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,25},{210,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>blackcurtain.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>bloodbase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,380},{128,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,11}}</string>
                <key>sourceSize</key>
                <string>{128,11}</string>
            </dict>
            <key>fight_goahead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,217}}</string>
                <key>sourceSize</key>
                <string>{250,217}</string>
            </dict>
            <key>fight_goahead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,392},{125,108}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{125,108}}</string>
                <key>sourceSize</key>
                <string>{133,118}</string>
            </dict>
            <key>icon_fight_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,392},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>icon_fight_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,392},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>icon_fight_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,212},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>icon_fight_equipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,392},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>prompt_relive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{160,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,189}}</string>
                <key>sourceSize</key>
                <string>{160,189}</string>
            </dict>
            <key>speedx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,306},{80,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{80,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>speedx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,219},{86,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>speedx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,392},{86,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{86,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_fight.png</string>
            <key>size</key>
            <string>{511,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23d5ccb93ae77a614c6544b08d5265ef$</string>
            <key>textureFileName</key>
            <string>ui_fight.png</string>
        </dict>
    </dict>
</plist>
