<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,426},{96,35}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,46},{96,35}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,390},{96,35}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,46},{96,35}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
            <key>button2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,337},{104,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>button2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,284},{104,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>button2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,455},{104,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>button_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,455},{128,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{128,54}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,284},{166,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{166,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,455},{128,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{128,54}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>button_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,462},{32,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{32,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>button_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,217},{26,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{26,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>button_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,286},{168,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{168,66}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>button_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,286},{168,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{168,66}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>button_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,284},{168,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{168,66}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>button_little_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,145},{245,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,71}}</string>
                <key>sourceSize</key>
                <string>{245,71}</string>
            </dict>
            <key>button_little_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,73},{245,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,71}}</string>
                <key>sourceSize</key>
                <string>{245,71}</string>
            </dict>
            <key>button_little_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{245,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,71}}</string>
                <key>sourceSize</key>
                <string>{245,71}</string>
            </dict>
            <key>button_login_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{263,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,94}}</string>
                <key>sourceSize</key>
                <string>{263,94}</string>
            </dict>
            <key>button_login_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,96},{263,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,94}}</string>
                <key>sourceSize</key>
                <string>{263,94}</string>
            </dict>
            <key>button_login_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{263,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,94}}</string>
                <key>sourceSize</key>
                <string>{263,94}</string>
            </dict>
            <key>button_lookup_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,462},{48,48}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{48,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>button_lookup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,462},{48,48}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{48,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>button_right_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,217},{168,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{168,66}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>button_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,286},{168,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{168,66}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>button_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,286},{168,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{168,66}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_littlebutton.png</string>
            <key>size</key>
            <string>{512,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0c7711b8a585a3fc61f2e3398e19508$</string>
            <key>textureFileName</key>
            <string>ui_littlebutton.png</string>
        </dict>
    </dict>
</plist>
