<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>listbutton_base1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{250,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,65}</string>
            </dict>
            <key>listbutton_base1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{250,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,65}</string>
            </dict>
            <key>listbutton_base1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_listbutton1.png</string>
            <key>size</key>
            <string>{252,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9102bdc4cc3c0b22c99e636de7b69643$</string>
            <key>textureFileName</key>
            <string>ui_listbutton1.png</string>
        </dict>
    </dict>
</plist>
