<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_list.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{71,642},{641,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,154}}</string>
                <key>sourceSize</key>
                <string>{641,154}</string>
            </dict>
            <key>button_achivevementt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,126},{512,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,103}}</string>
                <key>sourceSize</key>
                <string>{512,103}</string>
            </dict>
            <key>button_achivevementt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,126},{512,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,103}}</string>
                <key>sourceSize</key>
                <string>{512,103}</string>
            </dict>
            <key>friend_persent_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1015},{500,3}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{500,3}}</string>
                <key>sourceSize</key>
                <string>{500,33}</string>
            </dict>
            <key>friend_present_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,968},{255,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,50}}</string>
                <key>sourceSize</key>
                <string>{255,50}</string>
            </dict>
            <key>icon_achievement1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1},{108,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,968},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>ip5_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>ip5_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,126},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>ipad_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{34,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,800}}</string>
                <key>sourceSize</key>
                <string>{34,800}</string>
            </dict>
            <key>ipad_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1},{34,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,800}}</string>
                <key>sourceSize</key>
                <string>{34,800}</string>
            </dict>
            <key>list_leftframe.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1019},{4,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,480}}</string>
                <key>sourceSize</key>
                <string>{4,480}</string>
            </dict>
            <key>listbase_2_16_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1002},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>listbase_3_16_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1},{640,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,12}}</string>
                <key>sourceSize</key>
                <string>{640,12}</string>
            </dict>
            <key>middletitlebase.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,126},{642,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,89}}</string>
                <key>sourceSize</key>
                <string>{642,89}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,968},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>pub_buttom_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1},{640,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,109}}</string>
                <key>sourceSize</key>
                <string>{640,109}</string>
            </dict>
            <key>state_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,968},{70,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{70,46}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>team.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1},{640,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,290}}</string>
                <key>sourceSize</key>
                <string>{640,290}</string>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,968},{154,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,43}}</string>
                <key>sourceSize</key>
                <string>{154,43}</string>
            </dict>
            <key>tipsbase.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{365,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,124}}</string>
                <key>sourceSize</key>
                <string>{365,124}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,802},{640,165}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,165}}</string>
                <key>sourceSize</key>
                <string>{640,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_mainface.png</string>
            <key>size</key>
            <string>{1021,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f4d0f31ced38df93931c189164d305b$</string>
            <key>textureFileName</key>
            <string>ui_mainface.png</string>
        </dict>
    </dict>
</plist>
